@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir.ttf') format('truetype');
}

// Destop format
@media screen and (min-width: 769px) {
  .banner-blog {
    display: flex;
    border-radius: 50%;
  }
}

// Mobile format
@media screen and (max-width: 768px) {
  .banner-blog {
    display: flex;
  }
}
