@media screen and (max-width: 768px) {
  .first-title {
      margin: 12px 35px 5px 35px;
      text-align: center;
      padding: 0;
      color:  #272728;
      font-size: 2rem;
      font-weight: 2000;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

@media screen and (min-width: 769px) {
  .first-title {
      margin: 24px 70px 10px 70px;
      text-align: center;
      padding: 0;
      color:  #272728;
      font-size: 4rem;
      font-weight: 2000;
      padding-top: 16px;
      padding-bottom: 16px;
    }
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir.ttf') format('truetype');
}

.banner-website-camino {
  display: flex;
  justify-content: space-evenly;
}

.image-banner-website-camino {
  width: 90%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  overflow-clip-margin: content-box;
  height: 330PX;
  margin-bottom: 130px;
}



.phrase-accroche {
  margin: 20px 70px 20px 70px;
  font-size: 2rem;
}


--------------------------------STEPS-CONTAINER-EXPLAINATION---------------------
.cards-container-explainations {
  display: flex;
}

---------------------------------VOUS-SOUHAITEZ-EN-SAVOIR-PLUS---------------------

.container-cta{
  margin-bottom: 56px;
}

.cta-title {
  margin-bottom: 56px;
}

.ending-transition {
  width: 20%;
  border-bottom: 2px solid black;
  align-items: center;
  margin: auto;
}
