@media (max-width: 767px) {
  .responsive {
  width: 16vw;
  }
}
.responsive {
  width: 13vw;
}


@media screen and (max-width: 768px) {
  .first-title {
    font-size: 4rem;
  }
  .h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .first-title {
    font-size: 1.2rem;
  }
  .h1 {
    font-size: 1.2rem;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir.ttf') format('truetype');
}

.banner-website-camino {
  display: flex;
  justify-content: space-evenly;
}

.image-banner-website-camino {
  width: 90%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  overflow-clip-margin: content-box;
  height: 330PX;
  margin-bottom: 130px;
}

.first-title {
  margin: 24px 70px 10px 70px;
  text-align: center;
  padding: 0;
  color:  #272728;
  font-size: 4rem;
  font-weight: 2000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.phrase-accroche {
  margin: 20px 70px 20px 70px;
  font-size: 2rem;
}


--------------------------------STEPS-CONTAINER-EXPLAINATION---------------------
.cards-container-explainations {
  display: flex;
}

---------------------------------VOUS-SOUHAITEZ-EN-SAVOIR-PLUS---------------------

.container-cta{
  margin-bottom: 56px;
}

.cta-title {
  margin-bottom: 56px;
}

.ending-transition {
  width: 20%;
  border-bottom: 2px solid black;
  align-items: center;
  margin: auto;
}
