.information-article-show {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.image-article-show-blog {
  width: 60%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.sommaire-title-show-article {
  font-size: 1.5rem;
  font-weight: 600;
  color: #272728;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.paragraphe-title-show-article {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.paragraphe-title-container {
  margin-bottom: 4rem;
}


.main-title-show-article {
  font-size: 3rem;
  font-weight: 600;
  color: #272728;
  margin-top: 1rem;
}

.article-reading-time-blog-show {
  font-size: 1rem;
  color: #272728;
}

.reading-time-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  gap: 1.25rem;
  & p {
    margin: 0;
    padding: 0;
  }
}

.summary-article-show {
  font-size: 1.2rem;
  font-weight: 400;
  color: #272728;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.retour-show-article {
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  align-items: baseline;
  color: #272728;
}

.retour-show-article:hover {
  text-decoration: none;
  color: #272728;
}

.category-article-show {
  font-size: 0.75rem;
  color: #272728;
  font-weight: 400;
  background-color: #FFBA40;
  margin-top: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 16px;
  width: fit-content;
}

.show-article-container {
  margin-left: 10rem;
  margin-right: 10rem;
}

.link-to-titles {
  text-decoration: none;
  color: #272728;
}

.syntesis-show-article-blog-container {
  padding: 2rem;
  font-size: 1.25rem;
  background-color:  #FFF2CC;
  border-radius: 16px;
  margin-bottom: 5rem;
}

.content-show-article {
  font-size: 1.25rem;
  font-weight: 400;
  color: #272728;
}
