<div class="full-image-banner-component">
  <div class="banner-child tall-pill">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e0c177a8542_Kabob%20Image__Computer.webp" loading="eager" sizes="(max-width: 767px) 16vw, 13vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e0c177a8542_Kabob%2520Image__Computer-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e0c177a8542_Kabob%20Image__Computer.webp 660w" alt="Sticker of a laptop computer." class="image-cover pill-image">
  </div>

  <div class="banner-child banner-circle">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e14527a859e_aw-onboarding__man-home-office.jpg" loading="eager" sizes="(max-width: 767px) 20vw, 16vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e14527a859e_aw-onboarding__man-home-office-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e14527a859e_aw-onboarding__man-home-office-p-800.jpg 800w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e14527a859e_aw-onboarding__man-home-office-p-1080.jpg 1080w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e14527a859e_aw-onboarding__man-home-office.jpg 1200w" alt="A man works in his home office at night." class="image-cover circle-image">
  </div>

  <%# <div class="banner-child banner-wide">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop.webp" loading="eager" sizes="(max-width: 767px) 36vw, 28vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-800.jpg 800w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop-p-1080.jpg 1080w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9edbe67a859f_aw-onobarding__two-people-laptop.webp 1200w" alt="Two people work remotely at a coffee shop." class="image-cover pill-image">
  </div> %>
  <div class="banner-child tall-pill">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%20Image__globe.webp" loading="eager" sizes="(max-width: 767px) 16vw, 13vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%2520Image__globe-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%20Image__globe.webp 660w" alt="Sticker of a globe." class="image-cover pill-image">
  </div>

  <div class="banner-child banner-circle">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9effe57a85a0_aw-onboarding__woman-computer-back.webp" loading="eager" sizes="(max-width: 767px) 20vw, 16vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9effe57a85a0_aw-onboarding__woman-computer-back-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9effe57a85a0_aw-onboarding__woman-computer-back-p-800.jpg 800w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9effe57a85a0_aw-onboarding__woman-computer-back-p-1080.jpg 1080w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9effe57a85a0_aw-onboarding__woman-computer-back.webp 1200w" alt="A woman works from her home office, facing a large desktop monitor." class="image-cover circle-image origin-right-circle">
  </div>

  <div class="banner-child tall-pill">
    <img src="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%20Image__globe.webp" loading="eager" sizes="(max-width: 767px) 16vw, 13vw" srcset="https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%2520Image__globe-p-500.jpg 500w, https://assets.website-files.com/637be80ebdeb9e966b7a84cd/637be80ebdeb9e07057a8541_Kabob%20Image__globe.webp 660w" alt="Sticker of a globe." class="image-cover pill-image">
  </div>
</div>
