<nav class="navbar-top" data-controller="navbar">
  <h1 class="title-logo"><strong> Camino </strong></h1>

  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Développement professionnel</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Accompagnement managérial</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Pilotage de carrière</a>
    </li>
  </ul>

</nav>
