<div class="container-testimony">
    <h2 class="testimony-title"> <strong> Témoignages </strong> </h2>
  </div>


    <div class="carousel">
      <div class="carousel-container">
        <% (1..6).each do |i| %>
          <div class="carousel-card">
            <h3>Card <%= i %></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        <% end %>
      </div>
      <button class="carousel-prev">&#10094;</button>
      <button class="carousel-next">&#10095;</button>
    </div>
