<%= render "shared/navbar-top-default" %>
<main class="content-middle">

<h1 class= "first-title"> Donnez le pouvoir à vos collaborateurs d'être acteurs de leur développement professionnel</h1>
<p> Notre solution permet à vos talents de devenir acteur de leurs évolutions professionnelles. Nous développons des services RH fidélisant prêts à être déployés dans vos équipes.  </p>

<h2>Notre proposition de valeur: <br> Proposer une méthode et des exercices pour accompagner la réflexion de vos talents dans leurs projets professionnels</h2>
<ul>
  <li>Une suite d’exercices de réflexivité à réaliser en autonomie pour se découvrir et se comprendre</li>
  <li>Une méthodologie pour apprendre à poser de premiers objectifs et des étapes de réalisation</li>
</ul>

<%= render "shared/contact_form", request: request %>
</main>
