<%= render "shared/navbar-top-default" %>
<main class="content-middle">

<h1 class= "first-title"> Donnez le pouvoir à vos collaborateurs d'être acteurs de leur développement professionnel</h1>
<p> Notre solution permet à vos talents de devenir acteur de leurs évolutions professionnelles. Nous développons des services RH fidélisant prêts à être déployés dans vos équipes.  </p>

<h3>Notre proposition de valeur: <br> Proposer une méthode et des exercices pour accompagner la réflexion de vos talents dans leurs projets professionnels</h3>
<ul>
  <li>Une suite d’exercices de réflexivité à réaliser en autonomie pour se découvrir et se comprendre</li>
  <li>Une méthodologie pour apprendre à poser de premiers objectifs et des étapes de réalisation</li>
</ul>

  <%# <div class="value-proposition">
      <div class="card-value-proposition">
        <div class="value-proposition-image">
          <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Global procurement</h3>
          <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
        </div>
      </div>

      <div class="card-value-proposition">
        <div class="value-proposition-image">
          <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Global procurement</h3>
          <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
        </div>
      </div>

      <div class="card-value-proposition">
        <div class="value-proposition-image">
          <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
        </div>
          <div  class="value-proposition-content">
            <h3 class="card-value-proposition-title">Global procurement</h3>
            <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
          </div>
        </div>

      <div class="card-value-proposition" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
        <div class="value-proposition-image">
          <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
        </div>
          <div  class="value-proposition-content">
            <h3 class="card-value-proposition-title">Global procurement</h3>
            <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
          </div>
      </div> %>

  <div class="value-proposition">
    <div class="card-value-proposition">
      <div class="value-proposition-image">
        <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
      </div>
    </div>
    <div  class="value-proposition-content">
      <h3 class="card-value-proposition-title">Global procurement</h3>
      <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
    </div>

    <div class="card-value-proposition">
      <div class="value-proposition-image">
        <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
      </div>
    </div>
    <div  class="value-proposition-content">
      <h3 class="card-value-proposition-title">Global procurement</h3>
      <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
    </div>

  </div>

<%= render "shared/contact_form", request: request %>
</main>
<%= render "shared/footer" %>
