<%= render "shared/navbar-top-default" %>
<main class="content-middle">

<h1 class= "first-title"> <strong> Donnez le pouvoir à vos collaborateurs d'être acteurs de leur développement professionnel </strong></h1>
<p class="phrase-accroche"> Nous développons des services RH fidélisant prêts à être déployés dans vos équipes.  </p>
<button class="btn savoir-plus"> <strong> DISCUTONS-EN </strong></button>

  <div class="total-value-proposition">
    <h2 class="value-proposition-title"> La proposition de valeur de Camino </h2>
    <div class="cards-global-value">
      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Réfléchir</h3>
          <p>  Une suite d’exercices de réflexivité à réaliser en autonomie pour se découvrir et se comprendre </p>
        </div>
      </div>

      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Partager</h3>
          <p> We take care of procuring hardware, furniture, and more, anywhere you need it — and when you don’t anymore, we’ll store your equipment in one of our global allwhere depots.</p>
        </div>
      </div>

      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Co-construire</h3>
          <p> Bénéficier d'une méthodologie pour apprendre à poser de premiers objectifs et des étapes de réalisation </p>
        </div>
      </div>

      <div class="value-proposition">
        <div class="card-value-proposition">
          <div class="value-proposition-image">
            <img src= "https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
          </div>
        </div>
        <div  class="value-proposition-content">
          <h3 class="card-value-proposition-title">Itérer</h3>
          <p>  Refaire les exercices proposés pour apprécier la progression et de nouveau se projeter sereinement </p>
        </div>
      </div>
    </div>
  </div>

<%= render "shared/contact_form", request: request %>
</main>
<%= render "shared/footer" %>
