// Destop format
@media screen and (min-width: 769px) {
  .banner-blog {
    display: flex;
  }

  .bonjour{
    font-family: 'Avenir';
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

.articles-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

// Mobile format
@media screen and (max-width: 768px) {
  .banner-blog{
    display: flex;
  }
}
