// Destop format
@media screen and (min-width: 769px) {
  .btn {
    background-color: #FFBA40;
    padding:8px 24px 8px 24px;
    border-radius: 16px;
    color: #272728;
    font-weight: 800;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn .savoir-plus :hover {
    border: 2px solid #272728;
  }
}

// Mobile format
@media screen and (max-width: 768px) {
  .btn {
    background-color: #FFBA40;
    padding:4px 12px 4px 12px;
    border-radius: 16px;
    color: #272728;
    font-weight: 700;
  }

  .btn .savoir-plus :hover {
    border: 2px solid #272728;
  }
}
