@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .footer-links {
    margin-top: 20px;
    justify-content: center;
  }
  .logo-footer {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-links a {
    display: block;
    margin: 10px 0px;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
  }
  .btn-footer-mentions-legales {
    font-size: 1.2rem;
    padding: 0px 5px;

    &:hover {
      color: #272728;
      opacity: 1.0;
    }
  }
}

.footer {
  background-color: white;
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: sticky;
  font-family: "Avenir", sans-serif;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #272728;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0px 10px;
}
.logo-footer {
  max-width: 40%;
}

.footer-links a:hover {
  opacity: 1;
}

.btn-footer-mentions-legales {
  color: #272728;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 10px;
  &:hover {
    opacity: 1.0;
    color:#272728;
  }
}
