*,
::after,
::before{
    margin: 0;
    padding: 0;
}

.layout{
    display: grid;
    grid-template-rows: 56px auto 56px;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 16px;
    grid-template-areas:
    "a a a"
    "b b b"
    "c c c";
    color:#272728;
}

@media only screen and (max-width: 576px) {
  .layout {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c";
  }
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  font-family: "Avenir", sans-serif;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
