
.context-steps {
  margin-left: 5vw;
  margin-right: 5vw;
}

.total-value-proposition a {
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.card-value-proposition-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 3vh;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.arrow-transition-steps {
  background-color: #FFF2CC;
  padding-top: 5vh;
}

.div-content-steps {
  max-width: 1000px;
  margin: auto;
}

.icone-each-steps-camino {
  width: 50vw;
  max-width: 140px;
}

#arrow-right-transition-steps {
  position: absolute;
  transform: translateY(-50%);
  margin-top: 15vh;
  padding-bottom: 10vh;
  right: 10vw;
}

#arrow-left-transition-steps {
  position: absolute;
  transform: translateY(-50%);
  padding-bottom: 10vh;
  left: 10vw;
  transform: scaleX(-1);
}

.text-explaination-container-steps {
  margin: auto;
  margin-left: -50px;
  justify-items: start;
}

.explaination-context-rh {
  font-size: 1.3rem;
  margin-bottom: -10px;
  margin-top: 16px;
}

.camino-3-steps-title {
  padding-top: 120px;
  text-align: center;
  font-size: 4rem;
  font-weight: 2000;
}

.presentation-steps-camino-color {
  border-radius: 16px;
  padding: 16px;
  background-color: #FFF2CC;
  padding-bottom: 60px;
}

.container-icon-and-p-steps{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.1rem;
  margin-top: 24px;
}
.container-icon-and-p-steps p {
  width: 80%;
  margin: auto;
}
.container-icon-and-p-steps i {
  display: flex;
  align-items: center;
}

.div-context-steps {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 24px;
}

.icone-steps-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icone-steps-title img {
  height: 150px;
}

.icone-each-steps-camino {
  border-radius: 50rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  overflow-clip-margin: content-box;
}

#icon-projetez-steps {
  margin: auto;
  background-color: #FFBA40;
  color: white;
  border-radius: 25%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#icon-developpez-steps {
  margin: auto;
  background-color: #475177;
  color: white;
  border-radius: 25%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#icon-engagez-steps {
  margin: auto;
  background-color:  #e66852;
  color: white;
  border-radius: 25%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.phrase-steps {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 16px;
  font-size: 1.5rem;
}

.presentation-steps-camino-title {
  margin-top: 20px;
  font-weight: 800;
}

.icon-steps-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .camino-steps {
    color: #272728;
    border-radius: 16px;
    padding: 5px 20px;
    margin: 0 20px;
    font-size: 14px;
  }

  .container-one-step {
    margin-top: 16px;
  }

  .cards-container-explainations {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 0;
    border-radius: 16px;
  }

  .cards-container-explainations-developpez {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    border-radius: 16px;
  }

  .cards-container-explainations-engagez {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    border-radius: 16px;
  }

  .icon-container-explainations img {
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .icon-container-explainations {
    margin-right: 0;
  }

  .ul-title-container-steps {
    padding-top: 5%;
  }
}




------------------end-responsive-part-------------------------------

// .context-steps {
//   margin-left: 30px;
//   margin-right: 30px;
// }

// .total-value-proposition a {
//   text-decoration: none;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   padding-left: 16px;
//   padding-right: 16px;
//   text-align: center;
//   font-size: 1.1rem;
//   margin-top: 30px;
//   margin-bottom: 16px;
// }

// .card-value-proposition-title {
//   font-size: 1.5rem;
//   font-weight: 500;
//   margin-top: 30px;
//   margin-bottom: 16px;
//   text-align: center;
//   padding-left: 8px;
//   padding-right: 8px;
// }

// .arrow-transition-steps {
//   background-color: #FFF2CC;
//   padding-top: 30px;
// }

// .div-content-steps {
//   max-width: 1000px;
// }

// .icone-each-steps-camino {
//   width: 140px;
// }

// #arrow-right-transition-steps {
//   position: absolute;
//   transform: translateY(-50%);
//   margin-top: 90px;
//   padding-bottom: 60px;
//   right: 200px;
// }

// #arrow-left-transition-steps {
//   position: absolute;
//   transform: translateY(-50%);
//   padding-bottom: 60px;
//   left: 200px;
//   transform: scaleX(-1);
// }

// .text-explaination-container-steps {
//   margin: auto;
//   margin-left: -50px;
//   justify-items: start;
// }

// .explaination-context-rh {
//   font-size: 1.3rem;
//   margin-bottom: -10px;
//   margin-top: 16px;
// }

// .camino-3-steps-title {
//   padding-top: 120px;
//   text-align: center;
//   font-size: 4rem;
//   font-weight: 2000;
// }

// .presentation-steps-camino-color {
//   border-radius: 16px;
//   padding: 16px;
//   background-color: #FFF2CC;
//   padding-bottom: 60px;
// }

// .container-icon-and-p-steps{
//   margin: auto;
//   display: flex;
//   gap: 30px;
//   font-size: 1.1rem;
//   margin-top: 24px;
//   & p {
//     width: 80%;
//     margin: auto;
//   }
//   & i {
//     align-items: center;
//   }
// }

// .div-context-steps {
//   margin-right: 50px;
//   margin-left: 50px;
//   margin-bottom: 24px;
// }

// .icone-steps-title {
//   display: flex;
//   & img {
//     height: 150px;
//     margin-top: auto;
//   }
// }

// .icone-each-steps-camino {
//   border-radius: 50rem;
//   width: 200px;
//   object-fit: cover;
//   overflow: hidden;
//   overflow-clip-margin: content-box;
// }

// #icon-projetez-steps {
//   margin: auto;
//   background-color: #FFBA40;
//   color: white;
//   border-radius: 25%;
//   padding: 16px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// #icon-developpez-steps {
//   margin: auto;
//   background-color: #475177;
//   color: white;
//   border-radius: 25%;
//   padding: 16px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }


// #icon-engagez-steps {
//   margin: auto;
//   background-color:  #e66852;
//   color: white;
//   border-radius: 25%;
//   padding: 16px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .phrase-steps {
//   margin-bottom: 40px;
//   text-align: center;
//   font-weight: 500;
//   padding-bottom: 16px;
//   font-size: 1.5rem;
// }

// .presentation-steps-camino-title {
//   margin-top: 20px;
//   font-weight: 800;
// }

// .icon-steps-image {
//   width: 180px;
//   height: 100px;
//   margin: auto;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }


// .camino-steps {
//   color: #272728;
//   border-radius: 16px;
//   padding: 20px;
//   margin: 0 50px 0 50px;
//   padding: 5px 20px 5px 20px;
//   font-size: 16px;
// }

// .container-one-step {
//   margin-top: 24px;
// }

// .cards-container-explainations {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   margin: 40px 0 80px 0;
//   border-radius: 16px;
//   border-top-left-radius: 150%;
//   border-bottom-left-radius: 150%;
// }

// .cards-container-explainations-developpez {
//   display: flex;
//   margin: 60px 0 80px 0;
//   border-radius: 16px;
//   border-bottom-left-radius: 150%;
//   border-top-left-radius: 150%;
// }

// .cards-container-explainations-engagez {
//   display: flex;
//   justify-content: center;
//   margin: 60px 0 80px 0;
//   border-radius: 16px;
// }

// .icon-container-explainations img {
//   border-top-right-radius: 159px;
//   border-top-left-radius: 150px;
//   border-bottom-right-radius: 16px;
//   border-bottom-left-radius: 150px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .icon-container-explainations {
//   margin-right: -200px;
// }

// .ul-title-container-steps {
//   padding-top: 10%;
// }
