.presentation-steps-camino {
  margin: 80px 16px 60px 16px;
}

.camino-3-steps {
  text-align: center;
  padding: 16px;
  border-top: 1px solid rgba(19,20,20,.2);
}

.presentation-steps-camino-title {
  margin-top: 50px;
}

// .container-one-step {
//   border: 1px solid #272727;
//   padding: 16px;
// }

.cards-container-explainations {
  display: flex;
  gap: 24px;
  margin: 48px 0 80px 0;
  background-color: #f7e8c0;
  border-radius: 16px;
  padding: 16px;
}

.icon-container-explainations img {
  border-radius: 24px;
  border: 2px solid #FFBA40;
  box-shadow: 0 0 10px white;
}

.ul-title-container-steps {
  padding-top: 10%;
}
