
// Destop format
@media screen and (min-width: 769px) {
  .context-steps {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .card-value-proposition-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    padding-left: 1vh;
    padding-right: 81vh;
  }

  .arrow-transition-steps {
    background-color: #FFF2CC;
    padding-top: 5vh;
  }

  .icone-each-steps-camino {
    width: 50vw;
    max-width: 140px;
  }

  #arrow-right-transition-steps {
    position: absolute;
    transform: translateY(-50%);
    margin-top: 15vh;
    padding-bottom: 10vh;
    right: 10vw;
  }

  #arrow-left-transition-steps {
    position: absolute;
    transform: translateY(-50%);
    padding-bottom: 10vh;
    left: 10vw;
    transform: scaleX(-1);
  }

  .text-explaination-container-steps {
    margin: auto;
  }

  .explaination-context-rh {
    font-size: 1.3rem;
    margin-bottom: -1vh;
    margin-top: 2vh;
  }

  .camino-3-steps-title {
    padding-top: 12vh;
    text-align: center;
    font-size: 4rem;
    font-weight: 2000;
  }

  .presentation-steps-camino-color {
    border-radius: 16px;
    padding: 16px;
    background-color: #FFF2CC;
    padding-bottom: 6vh;
  }

  .container-icon-and-p-steps{
    margin: auto;
    display: flex;
    gap: 8vw;
    font-size: 1.1rem;
    margin-top: 3vh;
    & p {
      width: 80%;
      margin: auto;
    }
    & i {
      align-items: center;
    }
  }

  .div-context-steps {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
  }

  .icone-steps-title {
    display: flex;
    & img {
      height: 15vh;
      margin-top: auto;
    }
  }

  .icone-each-steps-camino {
    border-radius: 50rem;
    width: 20vw;
    object-fit: cover;
    overflow: hidden;
    overflow-clip-margin: content-box;
  }

  #icon-projetez-steps {
    margin: auto;
    background-color: #FFBA40;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #icon-developpez-steps {
    margin: auto;
    background-color: #475177;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #icon-engagez-steps {
    margin: auto;
    background-color:  #e66852;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .phrase-steps {
    margin-bottom: 4vh;
    text-align: center;
    font-weight: 500;
    padding-bottom: 2vh;
    font-size: 1.5rem;
  }

  .presentation-steps-camino-title {
    margin-top: 2vh;
    font-weight: 800;
  }

  .icon-steps-image {
    width: 18vw;
    height: 10vh;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .camino-steps {
    color: #272728;
    border-radius: 16px;
    padding: 20px;
    margin: 10px 50px 0 50px;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
  }

  .container-one-step {
    margin-top: 3vh;
  }

  .cards-container-explainations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20vh 0 35vh 0;
    border-radius: 16px;
    border-top-left-radius: 150%;
    border-bottom-left-radius: 150%;
  }

  #icon-developpez-steps {
    padding: 16px;
  }
  #icon-projetez-steps {
    padding: 16px;
  }
  #icon-engagez-steps {
    padding: 16px;
  }

  .cards-container-explainations-developpez {
    display: flex;
    margin: 60px 0 80px 0;
    border-radius: 16px;
    border-bottom-left-radius: 150%;
    border-top-left-radius: 150%;
  }

  .cards-container-explainations-engagez {
    display: flex;
    justify-content: center;
    margin: 60px 0 80px 0;
    border-radius: 16px;
  }

  .icon-container-explainations img {
    border-top-right-radius: 159px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .ul-title-container-steps {
    padding-top: 10%;
  }

  .image-mobile-steps {
    display: none;
  }
}

// Mobile format

@media screen and (max-width: 768px) {
  .cards-container-explainations {
    grid-template-columns: 1fr;
    margin: 20px 0 40px 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .image-mobile-steps {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    border-top-right-radius: 159px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    object-fit: cover;
    overflow: hidden;
    height: auto;
    margin-bottom: 4vh;
    margin-top: 3vh;
  }

  .context-steps {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .card-value-proposition-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5vh;
    margin-bottom: 8vh;
    text-align: center;
    padding-left: 1vh;
    padding-right: 81vh;
    margin-bottom: 3vh;
  }

  .arrow-transition-steps {
    display: none;
  }

  .icone-each-steps-camino {
    display: none;
  }

  #arrow-right-transition-steps {
    display: none;
  }

  #arrow-left-transition-steps {
    display: none;
  }

  .text-explaination-container-steps {
    margin: auto;
  }

  .explaination-context-rh {
    font-size: 1.2rem;
    margin-bottom: -1vh;
    margin-top: 2vh;
  }

  .camino-3-steps-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 2000;
  }

  .presentation-steps-camino-color {
    border-radius: 16px;
    padding: 16px 16px 0 16px;
    background-color: #FFF2CC;
    padding-bottom: 6vh;
  }

  .container-icon-and-p-steps{
    margin: auto;
    display: flex;
    gap: 5vw;
    font-size: 1rem;
    margin-top: 3vh;
    & p {
      width: 80%;
      margin: auto;
    }
    & i {
      align-items: center;
    }
  }

  .div-context-steps {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
  }

  .icone-steps-title {
    display: flex;
    flex-direction: column;
    & img {
      height: 25vh;
      margin-top: auto;
    }
  }

  .icone-each-steps-camino {
    border-radius: 50rem;
    width: 20vw;
    object-fit: cover;
    overflow: hidden;
    overflow-clip-margin: content-box;
  }

  #icon-projetez-steps {
    margin: auto;
    background-color: #FFBA40;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #icon-developpez-steps {
    margin: auto;
    background-color: #475177;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #icon-engagez-steps {
    margin: auto;
    background-color:  #e66852;
    color: white;
    border-radius: 25%;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .phrase-steps {
    margin-bottom: 4vh;
    text-align: center;
    font-weight: 500;
    padding-bottom: 2vh;
    font-size: 1.5rem;
  }

  .presentation-steps-camino-title {
    margin-top: 2vh;
    font-weight: 800;
  }

  .icon-steps-image {
    display: none;
  }

  .camino-steps {
    color: #272728;
    padding : 5px;
    border-radius: 16px;
    font-size: 1rem;
  }

  .container-one-step {
    margin-top: 3vh;
  }

  #icon-developpez-steps {
    padding: 16px;
  }
  #icon-projetez-steps {
    padding: 16px;
  }
  #icon-engagez-steps {
    padding: 16px;
  }

  .cards-container-explainations-developpez {
    display: flex;
    margin: 60px 0 80px 0;
    border-radius: 16px;
    border-bottom-left-radius: 150%;
    border-top-left-radius: 150%;
  }

  .cards-container-explainations-engagez {
    display: flex;
    justify-content: center;
    margin: 60px 0 80px 0;
    border-radius: 16px;
  }

  .icon-container-explainations img {
    display: none;
  }

  .ul-title-container-steps {
    padding-top: 10%;
  }
}
